<a href="https://colab.research.google.com/github/rajadevineni/Applied_ML_Coding_Exam1/blob/main/Exam1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries and dataset

In [ ]:
!pip install feature_engine

Requirement already satisfied: feature_engine in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (0.12.1)
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (0.22.2.post1)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (1.18.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (1.4.1)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (1.1.4)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.22.2->feature_engine) (0.17.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.3->feature_engine) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->statsmodels>=0.11.1->feature_engine) (1.15.0)

In [ ]:
from math import sqrt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from pathlib import Path

pd.pandas.set_option('display.max_columns', None)
%matplotlib inline
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

### Load Datasets

In [ ]:
# load dataset
# your code here
path = "https://raw.githubusercontent.com/rajadevineni/Applied_ML_Coding_Exam1/main/train_rev.csv"
data = pd.read_csv(path)
print('Shape of Dataset: ',data.shape)

Shape of Dataset:  (21788, 60)

In [ ]:
data.rename(columns={"id ": "id"}, inplace=True)
data.head()

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30,v31,v32,v33,v34,v35,v36,v37,v38,v39,v40,v41,v42,v43,v44,v45,v46,v47,v48,v49,v50,v51,v52,v53,v54,v55,v56,v57,v58,target
0,1,13,472,0.516129,1.0,0.677656,7,3,1,0,4.843220,4,0,0,0,0,0,1,-1,0.0,-1.000000,67700,843300,417575.0000,2185.450945,3467.837885,2639.664540,568.0,5800.0,2323.666667,0,0,0,1,0,0,0,0,0.050001,0.050000,0.799993,0.050000,0.050006,0.408591,0.047852,0.012712,0.004237,0.750000,0.250000,0.278283,0.100000,0.6,-0.523810,-0.714286,-0.333333,0.000000,0.000000,0.500000,0.000000,1600
1,2,12,701,0.522963,1.0,0.677201,10,5,10,1,4.763195,9,0,0,0,0,0,1,-1,804.0,193.625000,0,843300,209755.5556,0.000000,4101.893971,2114.472589,0.0,0.0,0.000000,0,0,0,1,0,0,0,0,0.244963,0.022224,0.571054,0.022223,0.139535,0.406442,0.185152,0.051355,0.007133,0.878049,0.121951,0.368439,0.033333,1.0,-0.275000,-0.600000,-0.050000,0.222222,0.244444,0.277778,0.244444,1700
2,3,8,174,0.724551,1.0,0.896226,1,1,1,0,4.385057,5,0,0,0,0,1,0,217,342.0,279.500000,0,617900,142120.0000,0.000000,3159.522593,2108.652601,0.0,0.0,0.000000,1,0,0,0,0,0,0,0,0.040030,0.040623,0.040019,0.040019,0.839309,0.255628,0.029437,0.011494,0.022989,0.333333,0.666667,0.366667,0.333333,0.4,-0.102381,-0.166667,-0.071429,0.000000,0.000000,0.500000,0.000000,3100
3,4,10,2347,0.359368,1.0,0.551497,36,8,3,1,4.907542,6,0,0,1,0,0,0,-1,1100.0,271.666667,27700,843300,327316.6667,3193.319812,6003.888889,4260.332820,1700.0,25900.0,10233.333330,0,0,0,0,0,0,1,1,0.700278,0.198502,0.033334,0.033334,0.034553,0.479196,0.171219,0.051129,0.014913,0.774194,0.225806,0.374936,0.033333,1.0,-0.245176,-0.800000,-0.050000,0.000000,0.000000,0.500000,0.000000,1800
4,5,7,280,0.563636,1.0,0.700599,8,5,1,0,5.132143,8,0,0,1,0,0,0,-1,718.0,263.698750,4800,843300,222525.0000,1838.148148,3582.545966,2503.522903,860.0,7900.0,2940.000000,0,1,0,0,0,0,0,0,0.475835,0.025101,0.279301,0.025000,0.194762,0.350535,0.166043,0.039286,0.000000,1.000000,0.000000,0.288430,0.100000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,2900

In [ ]:
data.columns

Index(['id', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10',
       'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20',
       'v21', 'v22', 'v23', 'v24', 'v25', 'v26', 'v27', 'v28', 'v29', 'v30',
       'v31', 'v32', 'v33', 'v34', 'v35', 'v36', 'v37', 'v38', 'v39', 'v40',
       'v41', 'v42', 'v43', 'v44', 'v45', 'v46', 'v47', 'v48', 'v49', 'v50',
       'v51', 'v52', 'v53', 'v54', 'v55', 'v56', 'v57', 'v58', 'target'],
      dtype='object')

### Types of variables

In [ ]:
# we have an Id variable, that we should not use for predictions:

print('Number of  Id labels: ', len(data.id.unique()))
print('Number of records in the Dataset: ', len(data))
print('Shape of Dataset: ', data.shape)

Number of  Id labels:  21788
Number of records in the Dataset:  21788
Shape of Dataset:  (21788, 60)

#### Find categorical variables

In [ ]:
# find categorical variables- hint data type = 'O'

categorical = [var for var in data.columns if data[var].dtype=='O']

print(f'There are {len(categorical)} categorical variables')

There are 0 categorical variables

#### Find temporal variables

In [ ]:
# make a list of the numerical variables first= Hint data type != O
numerical = [var for var in data.columns if data[var].dtype!='O']

# list of variables that contain year information= Hint variable namme has Yr or 
year_vars = [var for var in numerical if 'Yr' in var or 'Year' in var]

year_vars

[]

#### Find discrete variables

To identify discrete variables- numerical variables with less than 20 unique values

In [ ]:
# let's visualise the values of the discrete variables
discrete = [var for var in numerical if len(data[var].unique()) < 20 and var not in year_vars]

print(f'There are {len(discrete)} discrete variables')

There are 16 discrete variables

#### Continuous variables

In [ ]:
# find continuous variables- hint numerical variables not in discrete and  year_years 
# Also remove the Id variable and the target variable SalePrice
# which are both also numerical

continuous = [var for var in numerical if var not in discrete and var not in [
    'id', 'target'] and var not in year_vars]

print('There are {} numerical and continuous variables'.format(len(numerical)))

There are 60 numerical and continuous variables

In [ ]:
data.isna().sum()

id        0
v1        0
v2        0
v3        0
v4        0
v5        0
v6        0
v7        0
v8        0
v9        0
v10       0
v11       0
v12       0
v13       0
v14       0
v15       0
v16       0
v17       0
v18       0
v19       0
v20       0
v21       0
v22       0
v23       0
v24       0
v25       0
v26       0
v27       0
v28       0
v29       0
v30       0
v31       0
v32       0
v33       0
v34       0
v35       0
v36       0
v37       0
v38       0
v39       0
v40       0
v41       0
v42       0
v43       0
v44       0
v45       0
v46       0
v47       0
v48       0
v49       0
v50       0
v51       0
v52       0
v53       0
v54       0
v55       0
v56       0
v57       0
v58       0
target    0
dtype: int64

## Correlations and Choosing variables

### Creating correlation matrix

In [ ]:
corr_matrix = data.corr(method='pearson', min_periods=1)
corr_matrix.head(10)

In [ ]:
def highest_corr(df):
  high_corr_pairs = set()
  cols = df.columns
  ids = df.index
  for i in range(0, df.shape[1]):
    for j in range(0,i+1):
      if df.iloc[i,j]>=0.5:        
        if cols[i]!=ids[j]:
          high_corr_pairs.add((cols[i], ids[j]))
          print(cols[i],cols[j])
  return high_corr_pairs
print("Highly correlated pairs:")
print("Total Highly correlated pairs",len(highest_corr(corr_matrix)))

Highly correlated pairs:
v4 v3
v5 v3
v5 v4
v10 v3
v10 v4
v10 v5
v20 v19
v23 v22
v25 v19
v25 v20
v26 v25
v29 v27
v29 v28
v37 v35
v37 v36
v38 v14
v39 v13
v40 v17
v42 v16
v43 v4
v43 v5
v43 v10
v45 v44
v47 v4
v47 v10
v47 v44
v47 v45
v48 v46
v49 v4
v49 v10
v49 v43
v51 v4
v51 v43
v51 v49
v53 v52
v54 v52
v58 v55
Total Highly correlated pairs 37

### Based on the correlation sets, few variables are dropped to avoid multicolleniarity.

In [ ]:
drop_list = ['v3', 'v5', 'v10', 'v20', 'v23', 'v25', 'v29', 'v37', 'v38', 'v39', 'v40', 'v42', 'v43', 'v45', 'v47', 'v48', 'v49', 'v51', 'v52', 'v58']
print("Number of highly correlated variables to drop:",len(drop_list))

Number of highly correlated variables to drop: 20

In [ ]:
data_update = data.drop(drop_list, axis =1)
print("Updated dataset size:", data_update.shape)

Updated dataset size: (21788, 40)

## Separate train and test set

### Train and test datset for subset

In [ ]:
data_sub = data_update.sample(frac=0.4, replace=False, random_state=1)

In [ ]:
# Let's separate into train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_sub.drop(['id', 'target'], axis=1),
                                                    data_sub['target'],
                                                    test_size=0.1,
                                                    random_state=0)

X_train.shape, X_test.shape

((7843, 38), (872, 38))

### Train and test datset for whole

In [ ]:
# Let's separate into train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop(['id', 'target'], axis=1),
                                                    data['target'],
                                                    test_size=0.1,
                                                    random_state=0)

X_train.shape, X_test.shape

# Regressions

## Grid Search import

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

## Linear Regression

In [ ]:
# Train a linear regression model, report the coefficients and model performance 

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

In [ ]:
lr = LinearRegression().fit(X_train, y_train)
n=len(X_train)

cv_scores = cross_val_score(lr, X_train, y_train, cv = 5)

# Mean Cross validation Score
print("Mean Cross-validation scores: {}".format(cv_scores))
print()
print("Mean Cross-validation scores: {}".format(cv_scores.mean()))
print()

# Print Co-efficients
print("lr.coef_:", lr.coef_)
print("lr.intercept_:", lr.intercept_)

# Check test data set performance
print("LR Performance Train: ", lr.score(X_train,y_train))
print("LR Performance Test: ", lr.score(X_test,y_test))

Mean Cross-validation scores: [0.09498937 0.10685138 0.11978032 0.08735546 0.07654334]

Mean Cross-validation scores: 0.09710397167854894

lr.coef_: [-1.09994220e+01  1.13293159e-01  3.72499764e+01  2.96712010e+00
 -9.85559115e+00  2.60345193e-01 -2.26060290e+00  1.08645584e+01
 -5.50904511e+01 -3.29656567e+02 -1.70241471e+00  3.61099237e+02
  1.66467251e+02 -2.90850199e+02  1.02445996e+00 -1.53771332e-02
 -3.53764801e-04  9.12543495e-06  5.09333605e-03  1.46012086e-01
  1.87510714e-03  4.62352226e-04 -9.62756712e+01 -1.46814000e+02
 -1.20615779e+02 -1.13866608e+02 -1.87250191e+01  2.97520054e+02
  1.98777023e+02 -1.30275797e+02  2.43206818e+01 -5.49225268e+01
 -5.29117396e+02 -2.73157390e+01  1.14858684e+02  1.29477939e+02
  7.56792772e+01  1.26540132e+02]
lr.intercept_: 1200.1678711878692
LR Performance Train:  0.10691610649346306
LR Performance Test:  0.04549131407539864

## Lasso

In [ ]:
# Train a Lasso regression model, report the coefficients, the best parameters, and model performance 

# YOUR CODE HERE

from sklearn.linear_model import Lasso
lasso = Lasso(random_state=0, max_iter=1000)

#define a list of parameters
param_lasso = {'alpha':[10, 50, 100, 200, 400] }

grid_lasso = GridSearchCV(lasso, param_lasso, cv=5, return_train_score = True, scoring='neg_mean_absolute_error')
grid_lasso.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_lasso.best_score_))
print()

#find best parameters
print('Lasso parameters: ', grid_lasso.best_params_)

# Check test data set performance
print("Lasso Train Performance: ", grid_lasso.score(X_train,y_train))
print("Lasso Test Performance: ", grid_lasso.score(X_test,y_test))

Best Mean Cross-validation score: -735.06

Lasso parameters:  {'alpha': 10}
Lasso Train Performance:  -732.483303195336
Lasso Test Performance:  -704.5441894853958

## KNN Regression

In [ ]:
# Train a KNN model, report the coefficients, the best parameters, and model performance 
# hint: find the optimal k

# YOUR CODE HERE
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor()

# define a list of parameters
param_knn = {'n_neighbors': [5, 10, 15, 20],
             'metric' : ['euclidean', 'manhattan']}


#apply grid search
grid_knn = GridSearchCV(knn, param_knn, cv=7, return_train_score=True, scoring='neg_mean_absolute_error')
grid_knn.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_knn.best_score_))
print()

#find best parameters
print('KNN parameters: ', grid_knn.best_params_)

# Check test data set performance
print("KNN Performance Train: ", grid_knn.score(X_train,y_train))
print("KNN Performance Test: ", grid_knn.score(X_test,y_test))

Best Mean Cross-validation score: -751.54

KNN parameters:  {'metric': 'manhattan', 'n_neighbors': 20}
KNN Performance Train:  -714.7677291852606
KNN Performance Test:  -714.3678325688072

## XGBoost

In [ ]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [ ]:
#code snippet reference from classwork

from  xgboost import XGBRegressor
xgbr= XGBRegressor(random_state=42,early_stopping_rounds=2,objective= 'binary:logistic')
xgbr_param = {
              'nthread':[4],
              'objective':['reg:linear'],
              'learning_rate': [0.01,0.1,1,10],
              'max_depth': [2,3,4,5, 6, 7],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [500,1000]
             }
xgbr_grid = GridSearchCV(xgbr, xgbr_param,cv=5, return_train_score=True, scoring='neg_mean_absolute_error')
xgbr_grid.fit(X_train,y_train)
print(f'Best Mean Cross Validation Score is {xgbr_grid.best_score_}')
print(f'Best Mean Cross Validation Score is {xgbr_grid.best_params_}')
print(f'Train score is {xgbr_grid.score(X_train,y_train)}')
print(f'Test score is {xgbr_grid.score(X_test,y_test)}')
#print(f'Val score is {xgbr_grid.score(X_val,y_val)}')

## Random Forest

In [ ]:
#code snippet reference from classwork
from sklearn.ensemble import RandomForestRegressor
rfr =RandomForestRegressor(random_state=42)
rfr_param = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
}

rfr_grid = GridSearchCV(rfr, rfr_param,cv=5, return_train_score=True, scoring='neg_mean_absolute_error' )
rfr_grid.fit(X_train,y_train)

print(f'Best Mean Cross Validation Score is {rfr_grid.best_score_}')
print(f'Best Mean Cross Validation Score is {rfr_grid.best_params_}')
print(f'Train score is {rfr_grid.score(X_train,y_train)}')
print(f'Test score is {rfr_grid.score(X_test,y_test)}')
#print(f'Val score is {rfr_grid.score(X_val,y_val)}')

Best Mean Cross Validation Score is -719.0704406283526
Best Mean Cross Validation Score is {'max_depth': 8, 'max_features': 'auto', 'n_estimators': 500}
Train score is -633.9507734015311
Test score is -689.1095934951741

## Gradient Boost

In [ ]:
#code snippet reference from classwork

from sklearn.ensemble import GradientBoostingRegressor
gbr= GradientBoostingRegressor(random_state=42)
gbr_param = {
              'max_depth' : [1,2,3],
              'n_estimators' : [50,100,150],
              'learning_rate' : [0.01,0.1,0.5,1.0],
             }
gbr_grid = GridSearchCV(gbr, gbr_param,cv=5, return_train_score=True, scoring='neg_mean_absolute_error' )
gbr_grid.fit(X_train,y_train)
print(f'Best Mean Cross Validation Score is {gbr_grid.best_score_}')
print(f'Best Mean Cross Validation Score is {gbr_grid.best_params_}')
print(f'Train score is {gbr_grid.score(X_train,y_train)}')
print(f'Test score is {gbr_grid.score(X_test,y_test)}')
#print(f'Val score is {gbr_grid.score(X_val,y_val)}')

Best Mean Cross Validation Score is -716.9774301354586
Best Mean Cross Validation Score is {'learning_rate': 0.5, 'max_depth': 2, 'n_estimators': 50}
Train score is -674.2167876697146
Test score is -684.5298344240996

## Extra-Trees

In [ ]:
#code snippet reference from classwork

from  sklearn.ensemble import ExtraTreesRegressor
etr= ExtraTreesRegressor(random_state=42)
etr_param = { 
    'n_estimators': [200, 500,1000],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [6,7,8,9,10,11,12,13]
}
etr_grid = GridSearchCV(etr, etr_param,cv=5, return_train_score=True,  scoring='neg_mean_absolute_error' )
etr_grid.fit(X_train,y_train)
print(f'Best Mean Cross Validation Score is {etr_grid.best_score_}')
print(f'Best Mean Cross Validation Score is {etr_grid.best_params_}')
print(f'Train score is {etr_grid.score(X_train,y_train)}')
print(f'Test score is {etr_grid.score(X_test,y_test)}')
#print(f'Val score is {etr_grid.score(X_val,y_val)}')

## Bagging with Decision Tree

In [ ]:
#code snippet reference from classwork
from sklearn.ensemble import BaggingRegressor
bag_dtree = BaggingRegressor(base_estimator=DecisionTreeRegressor(), bootstrap=True, random_state=0, oob_score=True)


bag_dtree_param = {
                 'base_estimator__max_depth': range(5,15),
                 'base_estimator__splitter': ['best','random'],
                 'max_samples':  [0.8,1],
                 'n_estimators': [100,200]}
bag_dtree_grid = GridSearchCV(bag_dtree, bag_dtree_param,cv=5, return_train_score=True, scoring='neg_mean_absolute_error')
bag_dtree_grid.fit(X_train,y_train)
print(f'Best Mean Cross Validation Score is {bag_dtree_grid.best_score_}')
print(f'Best Mean Cross Validation Score is {bag_dtree_grid.best_params_}')
print(f'Train score is {bag_dtree_grid.score(X_train,y_train)}')
print(f'Test score is {bag_dtree_grid.score(X_test,y_test)}')
#print(f'Val score is {bag_dtree_grid.score(X_val,y_val)}')